.accordion {
    margin-top: -1px;
    width: 100%
}

@media(max-width:44.99em) {
    .accordion {
        background-color: #f8f1f4
    }
}

.accordion__button {
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    font-family: UniversLTStd-Bold;
    padding: .9375rem 3.5rem .9375rem 0;
    position: relative;
    text-align: inherit;
    text-transform: uppercase;
    width: 100%
}

@media(max-width:44.99em) {
    .accordion__button {
        padding: 1.125rem 3.5rem 1.125rem 0
    }
}

.accordion__button:after,
.accordion__button:before {
    background-color: currentColor;
    color: #b3848f;
    content: "";
    height: .125rem;
    position: absolute;
    right: .0625rem;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    -webkit-transition: -webkit-transform .2s;
    transition: -webkit-transform .2s;
    transition: transform .2s;
    transition: transform .2s, -webkit-transform .2s;
    width: .625rem
}

.accordion__button:after {
    -webkit-transform: translateY(-50%) rotate(90deg);
    transform: translateY(-50%) rotate(90deg)
}

.accordion__button--active {
    padding: 1.125rem 3.5rem .3125rem 0
}

.accordion__button--active:after,
.accordion__button--active:before {
    -webkit-transform: translateY(-50%) rotate(0);
    transform: translateY(-50%) rotate(0)
}

.accordion__content {
    border-bottom: 1px solid #e7dae2;
    color: #393939;
    display: none;
    font-family: Tt-Chocolate;
    font-size: 1.0625rem;
    font-weight: 400;
    height: var(--height);
    line-height: 1.16875rem;
    margin: 0;
    overflow: hidden;
    padding: 0;
    pointer-events: none;
    text-transform: lowercase;
    -webkit-transition: height .2s ease-out;
    transition: height .2s ease-out
}

.accordion__content--active {
    display: block;
    pointer-events: auto
}

@media(max-width:44.99em) {
    .accordion__content {
        font-size: .9375rem;
        line-height: 1.125rem
    }
}

.accordion__content p {
    letter-spacing: 0;
    margin-bottom: .9375rem;
    margin-top: 0
}

@media(max-width:44.99em) {
    .accordion__content p {
        font-size: .9375rem;
        line-height: 1.125rem;
        margin-bottom: 1.125rem;
        width: 20.625rem
    }
}

.accordion__content a {
    background-image: -webkit-gradient(linear, left top, left bottom, from(#393939), to(#393939));
    background-image: linear-gradient(#393939, #393939);
    background-position: 0 100%;
    background-repeat: no-repeat;
    background-size: 100% .5px;
    color: #393939;
    position: relative;
    -webkit-text-decoration: none;
    text-decoration: none;
    -webkit-transition: background-size .1s ease-in-out;
    transition: background-size .1s ease-in-out
}

.accordion__content a:focus,
.accordion__content a:hover {
    background-size: 100% 1.5px;
    color: inherit
}

.accordion label {
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    color: #b3848f;
    font-family: Tt-Chocolate;
    font-size: 1.25rem;
    font-weight: 600;
    line-height: 1.375rem;
    text-transform: lowercase
}

@media(max-width:44.99em) {
    .accordion label {
        font-size: 1.0625rem;
        line-height: 1.1875rem
    }
}

.bundle-item {
    -ms-flex-align: center;
    border: 1px solid #e7dae2;
    border-radius: .25rem
}

.bundle-item,
.bundle-item__gallery {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    align-items: center
}

.bundle-item__gallery {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 4.5rem;
    flex: 0 0 4.5rem;
    -ms-flex-item-align: stretch;
    align-self: stretch;
    -ms-flex-align: center
}

@media(min-width:60em) {
    .bundle-item__gallery {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 5.625rem;
        flex: 0 0 5.625rem
    }
}

.bundle-item__gallery--placeholder {
    background-color: #f8f1f4
}

.bundle-item__gallery a {
    height: 100%;
    width: 100%
}

@media(max-width:59.99em) {
    .bundle-item__gallery a {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center
    }

    .bundle-item__gallery .responsive-image {
        height: 100%;
        max-height: 72px
    }
}

.bundle-item__gallery .responsive-image {
    height: 100%
}

.bundle-item__gallery .responsive-image img {
    aspect-ratio: 1;
    left: 0;
    -o-object-fit: cover;
    object-fit: cover;
    position: absolute;
    top: 0
}

.bundle-item__image {
    border-bottom-left-radius: .25rem;
    border-top-left-radius: .25rem;
    overflow: hidden
}

.bundle-item__image img {
    border-radius: 0
}

.bundle-item__content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: .4375rem .625rem;
    width: 100%;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    -ms-flex-direction: column-reverse;
    flex-direction: column-reverse;
    min-height: 90px
}

@media(max-width:59.99em) {
    .bundle-item__content {
        min-height: 72px
    }
}

@media(min-width:60em) {
    .bundle-item__content {
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -ms-flex-direction: row;
        flex-direction: row
    }
}

@media(min-width:75em) {
    .bundle-item__content {
        padding: .25rem .9375rem
    }
}

.bundle-item__content .review-preview__no-variants,
.bundle-item__content .review-preview__variants {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    min-width: 8.9375rem;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start
}

@media(min-width:60em) {

    .bundle-item__content .review-preview__no-variants,
    .bundle-item__content .review-preview__variants {
        -webkit-box-pack: end;
        -ms-flex-pack: end;
        justify-content: flex-end;
        padding-top: 8px
    }
}

@media(max-width:59.99em) {

    .bundle-item__content .review-preview__no-variants .bv-stars svg,
    .bundle-item__content .review-preview__variants .bv-stars svg {
        margin-right: 2px;
        width: 13px
    }
}

.bundle-item__content .review-preview__no-variants .bv-stars,
.bundle-item__content .review-preview__variants .bv-stars {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 2px
}

.bundle-item__content .variant-selector {
    -ms-flex-negative: 0;
    flex-shrink: 0
}

.bundle-item__content .variant-selector .dropdown {
    max-width: 21.25rem
}

.bundle-item__content .v-select.vs--open .vs__dropdown-menu {
    height: auto
}

.bundle-item__content .v-select .vs__dropdown-menu .vs__dropdown-option.vs__dropdown-option--disabled {
    background: transparent
}

.bundle-item__details {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1
}

.bundle-item__info {
    -webkit-box-flex: 1;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto
}

.bundle-item__title {
    color: #393939;
    font-family: Tt-Chocolate;
    font-size: 1.0625rem;
    font-weight: 600;
    line-height: 1.25rem;
    margin: 0 0 4px;
    padding-bottom: 5px;
    text-transform: lowercase
}

@media(min-width:60em) {
    .bundle-item__title {
        margin: 0;
        padding-bottom: 0
    }
}

.bundle-item .product-ratings {
    position: relative;
    top: 1.5625rem
}

.bundle-item__name {
    color: inherit;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    font-family: inherit;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between
}

.bundle-item__name span {
    display: -webkit-box;
    line-clamp:2;
    -webkit-line-clamp: 2;
    width: 100%;
    -webkit-box-orient: vertical;
    overflow: hidden
}

.bundle-item__name:focus,
.bundle-item__name:hover {
    color: inherit
}

.bundle-item__option {
    font-family: Tt-Chocolate;
    font-size: .9375rem;
    line-height: 1.125rem;
    text-transform: lowercase
}

@media(min-width:60em) {
    .bundle-item__option {
        font-size: 1.0625rem;
        line-height: 1.1875rem
    }
}

.bundle-item__option--shade {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    gap: .375rem;
    margin-top: 2px
}

@media(max-width:59.99em) {
    .bundle-item__option--shade {
        position: relative;
        top: -3px
    }
}

@media(min-width:60em) {
    .bundle-item__option--shade {
        margin-bottom: 0
    }
}

.bundle-item__option--shade .shade-holder {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center
}

.bundle-item__option--shade .shade-holder .variant-shade {
    border-radius: 100%;
    height: 18px;
    margin-right: 7px;
    width: 18px
}

@media(min-width:60em) {
    .bundle-item__option--has-vs {
        margin-top: 5px
    }
}

.bundle-item__option-swatch {
    -ms-flex-negative: 0;
    border-radius: 50%;
    flex-shrink: 0;
    height: .9375rem;
    width: .9375rem
}

@media(min-width:60em) {
    .bundle-item__option-swatch {
        height: 1.125rem;
        width: 1.125rem
    }

    .bundle-item__option--has-vs .bundle-item__option-swatch {
        display: none
    }
}

.bundle-item.bundle--any .bundle-item__option--has-vs,
.bundle-item.bundle--any .form--bundle .form__fieldset {
    margin-top: 0
}

.bundle-item.routine-item {
    padding-right: 20px
}

.bundle-item.routine-item .bundle-item__image {
    border-bottom-left-radius: .2rem;
    border-top-left-radius: .2rem
}

.bundle-item.routine-item .bundle-item__name {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    -ms-flex-direction: column-reverse;
    flex-direction: column-reverse
}

.bundle-item.routine-item .action--secondary {
    padding: 0 20px
}

@media(max-width:74.99em) {
    .bundle-item.routine-item .action--secondary {
        padding: 0 18px
    }

    .mini-cart__items .prod_tite_bundle,
    .prod_bundle_item .prod_shade_descrip {
        max-width: 200px
    }
}

@media(min-width:75em) {

    .mini-cart__items .prod_tite_bundle,
    .prod_bundle_item .prod_shade_descrip {
        font-size: 15px;
        line-height: 15px;
        max-width: 235px
    }
}

body.layout--bundle .bundle-item__details .shades-infos,
body.layout--bundle .bundle-item__details .shades-try-me-on {
    display: block
}

@media(min-width:75em) {
    .bundle-item__title {
        margin: -4px 0
    }

    .shades-infos__description,
    .shades-infos__name {
        padding-top: 4px !important
    }
}

@media(max-width:59.99em) {
    .bundle-item__title {
        margin: 0;
        padding: 0
    }
}

.bundle-items__title {
    font-family: Tt-Chocolate;
    font-size: .9375rem;
    font-weight: 400;
    line-height: 1.125rem;
    margin: 0 0 .625rem;
    text-transform: lowercase
}

@media(min-width:45em) {
    .bundle-items__title {
        font-size: 1.0625rem
    }
}

.bundle-items__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    gap: .5rem
}

@media(min-width:60em) {
    .bundle-items__list {
        gap: .75rem
    }
}

.bundle-items__savings {
    font-family: Tt-Chocolate;
    font-size: .75rem;
    letter-spacing: 0;
    line-height: .9rem;
    text-align: center;
    text-transform: uppercase
}

.form__atc--sticky .bundle-items__savings {
    margin-top: 0
}

.bundle-items .vs__dropdown-option .option-color.option-color--disabled:after {
    width: 100%
}

.bundle-items .v-select .vs__dropdown-option--selected:after {
    display: none
}

.bundle-items .v-select .vs__dropdown-menu .vs__dropdown-option {
    height: 2.375rem;
    padding: 12px 12px 12px 6px
}

.product--bundle .form__atc--sticky .price__value span {
    color: #393939 !important
}

:root {
    --z-deep: -2;
    --z-below: -1;
    --z-default: 1;
    --z-above: 2;
    --z-filters: 3;
    --z-swiper-arrows: 3;
    --z-atc: 4;
    --z-footer: 5;
    --z-header: 6;
    --z-overlay: 7;
    --z-flyout: 8;
    --z-modal: 9;
    --z-skip-to-content: 10
}

.wishlist-button {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    gap: 1ch
}

.wishlist-button .icon--heart-fill,
.wishlist-button .icon--heart-fill:after,
.wishlist-button .icon--heart-outline,
.wishlist-button .icon--heart-outline:after {
    height: 21px;
    width: 23px
}

.wishlist-button .icon--heart-outline:after {
    background-color: transparent !important
}

.wishlist-button.is-added,
.wishlist-button.is-removed {
    -webkit-animation-delay: .7s;
    animation-delay: .7s;
    -webkit-animation: fadein .3s ease-in;
    animation: fadein .3s ease-in
}

.wishlist-button.is-busy {
    -webkit-animation: pulse .4s ease-in;
    animation: pulse .4s ease-in
}

.wishlist-button__text {
    font-family: Tt-Chocolate;
    font-size: .75rem;
    letter-spacing: 0;
    line-height: .9rem;
    text-transform: uppercase
}

.wishlist-button.pdp {
    position: relative
}

.wishlist-button:focus-visible {
    border: 2px solid #645458 !important;
    outline-offset: 2px !important
}